*~
\#*\#

inst/doc/example_box/
inst/doc/example_eic/
inst/doc/example_spec/
inst/doc/xcmsDirect.pdf
inst/doc/xcmsInstall.pdf
inst/doc/xcmsMSn.pdf
inst/doc/xcmsPreprocess.pdf

*.o
src/xcms.so
src/boost/
src/boost_aux/
src/pwiz/

readme.org
local_data/
.Rproj.user

.Rhistory
xcms.Rproj

Rplots.pdf
.DS_Store